.h1 {
    text-align: start;
    text-decoration-line: underline;
    text-decoration-color: rgb(41, 40, 43);
    text-shadow: 1px 2px 3px;
}

.body {
    background-color: rgb(131, 126, 126);
}

.pphoto {
    top: 12%;
    width: 250px;
    align-items: center;
    justify-content: center;
}
header {
    text-align: center;
}
.texxt {
    text-align: center;
    width: 500px;
}

.photo {
    width: 150px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 55px;
}

.item {
    border: 2px black;
}

img {
    max-width: 100%;
    display: block;
}

.bbody {
    background-color: darkgray;
}